<!-- Passing Dynamic title, using variables -->

<%- include("./partials/head.ejs", varTitle = "Title Something")%>

<body>
    
    <h2>In Body of Landing.ejs</h2>
    <a href="/auth/login"> Login Page </a>

    || <a href="/dashboard"> Dashboard - Unprotected </a>

</body>
</html>