<%- include("./partials/head.ejs", varTitle = "Login") %>
<body>
    <h2 class=""> Login Page </h2>

    <a href="/auth/login">Login</a> ||
    <a href="/auth/logout">Logout</a>

    <div class="">Login using ...</div>
    <a href="/auth/google">Google</a>

    
</body>
</html>