<%- include("./partials/head.ejs", varTitle = "Profile Page") %>

<body>

    <h2> Profile </h2>
    Name: <%- varName %>
    GoogleID: <%- varGoogleId  %>

    || <a href="/auth/logout">Logout</a>
    || <a href="/dashboard">Dashboard</a>

</body>
</html>
